/* Stylesheet for the 'MLC Clean' Plone theme */

#anon-personalbar {
}

body {
	font-family: "vera-sans-1","vera-sans-2";
}

a:hover {
  text-decoration: underline;
}

/* clear styles */

div.width-full {
  width: 100%;
}

div.position-0 {
  margin-left: -100%;
}

div.cell {
}

/* global styles */

#visual-portal-wrapper {
}

html {
  background: #F9F8FA;
  font-family: sans-serif;
}

#portal-columns {
  width: 992px;
  margin: 0 auto;
  float: none;
  display: block;
}

div#first_column {
  width: 31.333%;
  float: left;
  margin-right: 1%;
}

div#footer_sections {
  width: 992px;
  margin: 0 auto;
}

img {
}

/* header and main navigation */

#portal-top div.position-0 {
  margin-left: 0;
}

div#portal-top .cell {
  left: 0;
}

#portal-top {
  width: 100%;
  background: #c71923 url('headerback.png') no-repeat scroll 750px -80px;
  background-position: 80% -80px;
  height: 175px;
  border-bottom: 2px solid #f1e5cb;
}

#portal-header {
  width: 992px;
  height: 150px;
  margin: 0 auto;
}

#portal-logo {
  display: block;
  float: left;
  width: 136px;
  margin-top: 30px;
}

#portal-logo img {
  margin: 0;
  line-height: 0;
  width: 136px;
  height: 79px;
}

h5.hiddenStructure {
  position: absolute;
}

#portal-globalnav {
  background: none;
  display: block;
  width: 620px;
  float: left;
  list-style: none;
  margin: 65px 0 0 20px;
  font-family:  "Myriad Pro", sans-serif;
  padding: 0;
  font-size: .9em;
  font-weight: bold;
  clear: none;
}

#portal-globalnav a {
  color: #fff;
}

#portal-globalnav li {
  background: none;
  float: left;
  padding: 0 0;
  margin: 0 5px;
  text-align: center;
}

#portal-globalnav li a {
  margin: 0;
  padding: 8px 2px 5px;
  background: none;
  border: 0;
}

#portal-globalnav li a:hover, #portal-globalnav .selected a, #portal-globalnav .selected a:hover {
  background: #f1e5cd;
  border-radius: 7px;
  color: #363636;
  text-decoration: none;
}

#portal-searchbox {
  width: 216px;
  padding-top: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-top: 70px;
  text-align: right;
  float: left;
}

.searchSection {
  text-align: left;
  padding-left: 17px;
  color: white;
}

#portal-personaltools-wrapper {
  position: absolute;
  right: 0;
}

#portal-personaltools {
  
}

::-webkit-input-placeholder {
  padding-top: 5px;
  line-height: 0;
  margin: 0;
}

/* section intro */

#section-intro {
    padding: 0;
    line-height: 0;
    position: relative;
    margin-bottom: 20px;
}

#section-intro img {
  width: 972px;
  height: 200px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,.15);
  box-shadow: 0 0 2px 1px rgba(0,0,0,.15);
  border: 10px solid white;
  margin: -50px auto 0;
}

div#section-info {
	width: 972px;
}

#section-info {
  background: rgba(0,0,0,.75);
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 10px 10px;
  padding: 0;
}

#section-info h1 {
  font-family: "Adobe Garamond Pro";
  font-size: 2.5em;
  padding: 17px 17px 10px;
  color: white;
  font-weight: normal;
  line-height: 1;
  text-align: left;
  margin-bottom: 0;
  text-transform: none;
}

#portal-column-content {
}

/* interior navigation */

ul.navTree {
}

.navTree {
  list-style: none;
}

dl.portlet ul.navTree .navTreeCurrentItem {
  background-color: #f1e5cb;
  border-left: 1em solid #f1e5cb;
}

.navTree li a span {
  color: #111111;
}

dl.portlet ul.navTreeLevel0 > .navTreeItem {
  border: 0;
}

.navTreeLevel0 li a {
  font-weight: bold;
  font-size: 1.2em;
}

.navTreeLevel1 li a {
  font-weight: normal;
}

/* features */

#features {
	padding: 0;
	line-height: 0;
	position: relative;
	margin-bottom: 20px;
}

#features img {
  width: 972px;
  margin: -50px auto 0;
  border: 10px solid white;
  -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,.15);
  padding: 0;
  line-height: 0;
  position: relative;
}

#feature_info {
  background: rgba(0,54,98,0.85);
  position: absolute;
  top: 300px;
  right: 0;
  width: 325px;
  padding: 10px;
  margin-right: 10px;
}

#feature_info h1 {
  font-family: "Adobe Garamond Pro";
  font-size: 1.9em;
  padding: 0;
  margin: 0 0 10px;
  color: white;
  font-weight: bold;
}

#feature_info h1 a {
  word-spacing: 2px;
  color: #fff;
}

#feature_info h1 a:hover {
  text-decoration: underline;
  color: #f1e5cb;
}

#feature_info p {
  font-family: sans-serif;
  font-size: 0.8em;
  line-height: 1.4;
  color: white;
  padding: 0;
  margin: 0;
}

/* news and notes */

#news {
  width: 32.333%;
  float: left;
  margin: 0 1% 10px;
}

#news h1 {
  font-family: "Adobe Garamond Pro";
  font-size: 2em;
  margin: 0;
  padding: 0;
  text-align: left;
}

#news h1 span {
  color: #003662;
}

#news img {
  width: 17%;
  float: left;
  border: 5px solid white;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,.15);
}

#news article {
  min-height: 66px;
  margin-bottom: 20px;
  clear: both;
}

#news h2, #news p {
  font-family: "Myriad Pro";
  width: 76%;
  font-weight: normal;
  float: left;
  padding: 0 0 0 4%;
}

#news h2 {
  font-size: 1em;
  margin: 0;
  line-height: 1;
}

#news p {
  margin-top: 2%;
  font-size: .8em;
  color: #666;
}

/* events */

#events {
  width: 32.333%;
  float: left;
  margin-left: 1%;
}

#events h1 {
  font-family: "Adobe Garamond Pro";
  font-size: 2em;
  margin: 0;
  padding: 0;
  text-align: left;
}

#events h1 span {
  color: #416b5d;
}

#events article {
  margin-bottom: 20px;
  clear: both;
  min-height: 66px;
}

.cal_icon {
	text-align: center;
	margin: 0 4% 0 0;
	padding-top:5px;
	float:left;
	width:15%;
	background: #ededef;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededef), to(#ccc)); 
	background: -moz-linear-gradient(top,  #ededef,  #ccc); 
	font: bold 1.4em Myriad Pro, sans-serif;
	text-align:center;
	color:#000;
	text-shadow:#fff 0 1px 0;	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;	
	position:relative;
}

.cal_icon em {
	text-align: center;
	display:block;
	padding: 2px 1px 1px;
	font: normal 0.6em "Myriad Pro", sans-serif;
	color:#fff;
	text-shadow:#00365a 0 -1px 0;	
	text-transform: uppercase;
	background:#C9213C;
	background:-webkit-gradient(linear, left top, left bottom, from(#C9213C), to(#8F232F)); 
	background:-moz-linear-gradient(top,  #C9213C,  #8F232F); 
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;	
	border-bottom-right-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;	
	border-bottom-left-radius:3px;	
	border-top:1px solid #C9213C;
}

.cal_info {
	float: left;
	width: 81%;
	line-height: 1;
}

.cal_info h2 {
	font-size: 1em;
	padding-bottom: 4%;
	margin: 0;
	line-height: 1;
	font-weight: normal;
	font-samily: "Myriad Pro", sans-serif;
}

.cal_info p {
	margin: 0 0 5%;
	font-size: 0.8em;
	color: #666;
	font-family: "Myriad Pro", sans-serif;
}

/* audience links */

#audience {
  margin-bottom: 10px;
}

#audience h1 {
  font-family: "Adobe Garamond Pro";
  font-size: 2em;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  text-align: left;
}

#audience h1 span {
  color: #c71923;
}

#audience ul {
  list-style: none;
  margin-bottom: 0;
}

#audience li {
  padding: 0;
  margin: 0 0 2px;
  font-size: 1.2em;
	font-family: "Myriad Pro", sans-serif;
	font-weight: bold;
	display: block;
}

/* at mlc */

#at_mlc img {
  width: 100%;
  -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,.15);
}

/* footer */

#footer {
  background: #1f1f1f;
  clear: both;
  height: 180px;
}

/* column stuff */

#portal-column-content {
  margin-bottom: 20px;
}

#columns a {
  color: #003662;
}

/* footer sections */

#resources, #tools {
  width: 27%;
  margin-right: 2%;
  float: left;
}

#gallery {
  width: 22%;
  float: left;
  margin-right: 2%;
}

#contact_us {
  width: 18%;
  float: left;
}

#footer .col {
  width: 40%;
  float: left;
  margin-right: 2%;
}

#footer ul {
  padding-left: 1em;
  margin-left: 0;
}

#footer li {
  padding: 0;
  margin: 0 0 1px;
  font-size: .8em;
	font-family: "Myriad Pro", sans-serif;
	font-weight: bold;
	display: list-item;
	list-style: disc;
}

/* footer styles */

#footer img {
	width: 100%;
}

#footer {
  padding: 20px 0 0;
}

#footer h1, #footer h1 a:link, #footer h1 a:visited {
  font-size: 1em;
  color: #416b5d;
  padding: 0;
  margin: 0 0 10px;
  line-height: 1;
  text-transform: uppercase;
}

#footer li, #footer li a:link, #footer li a:visited {
  color: #f1e5cb;
}

#footer li a:hover {
  color: #416b5d;
}

#footer .contact_icon {
  width: 16%;
  margin: 0;
  padding: 0;
  margin-right: 4%;
}

#last_icon {
  margin-right: 0;
}

.welslogo {
  margin-top: 7%;
  width: 100%
}

#icons {
  margin: auto;
  text-align: center;
}

/* copyright */

div#copyright {
  width: 992px;
  margin: 20px auto 0;
  height: 100px;
	font-family: "Myriad Pro", sans-serif;
  color: #666;
}

#copyright img {
  width: 13%;
  float: left;
  margin-right: 15px;
}

#copyright p {
  float: left;
  margin-top: 35px;
  font-size: .7em;
}

#copyright ul {
  margin-top: 35px;
  float: right;
  list-style: none;
}

#copyright li {
  float: left;
  font-size: .7em;
  padding: 0 12px;
  border-left: 1px solid;
}

#copyright .first_item {
   border-left: 0;
}

#copyright .last_item {
  padding-right: 0;
}

#copyright a {
  color: #003662;
  
}

/* content edit views */

#content-views {
  padding-left: 0;
  margin-left: 0;
}

#edit-bar {
  min-height: 2em;
}

#edit-bar a:hover {
  text-decoration: none;
}

#contentActionMenus .actionMenu {
  margin-bottom: 0;
}

/* news listing */